#headlinesList {
  position: relative;
  top: 50px;
  background-color:transparent;
  text-align: center;
  color:#FFF;
  font-size:28px;
  font-family:Courier, monospace;
  height:28px;
  font-weight:normal;
  };

h1 {
  position: relative;
  top: 50px;
  background-color:transparent;
  text-align: center;
  color:black;
  font-size:5rem;
  font-family:Courier, monospace;
  height:48px;
  font-weight:bold;
  };

.gu-image {
  width: 250px;
  height: 150px;
  }