body {
    font-family: Courier, monospace;
}

.gu-image {
    position: absolute;
    left: -250px;
    width: 200px;
    height: 120px;
}

#headlineTitle {
    position: relative;
    top: 50px;
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 4rem;
    font-family: Courier, monospace;
    height: 28px;
    font-weight: normal;
}

#headlinesList {
    position: relative;
    left: 300px;
    background-color: transparent;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    height: 28px;
    font-weight: normal;
}

;